.regular-styles {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    background-color: lightblue;
    line-height: 1.6;
}

.regular-styles h1 {
  color: black;
  text-align: center;
}

/* Styles for CV page */

.cv-styles {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    background-color: lightblue;
    line-height: 1.6;
}

.cv-styles header {
    text-align: center;
    padding: 20px;
    background-color: rgba(55, 27, 7, 0.7);
    color: white;
}

.cv-styles section {
    margin-top: 20px;
    background-color: lightblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
}

.cv-styles h1 {
    color: white;
}

.cv-styles h2 {
    color: #333;
}

.cv-styles ul {
    list-style-type: none;
    padding: 0;
}

.cv-styles li {
    margin-bottom: 10px;
}

.cv-styles p {
    margin: 0;
}

.cv-styles section:not(:first-child) {
    margin-top: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.contact {
    width: 30%;
    margin-top: 20px;
    background-color: lightblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
}

.education {
    width: 60%;
    margin-top: 20px;
    background-color: lightblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
}

.larger-tab {
    margin-left: 250px;
}

.medium-tab {
    margin-left: 125px;
}

.small-tab {
    margin-left: 70px;
}

/* Navigation styles */

.nav {
    background-color: #2c3e50;
    padding: 10px;
    text-align: center;
}

.nav-list {
    color: #fff; /*white color menu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin-right: 20px;
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
